# Ignore node_modules folder
node_modules

# Ignore build output
dist

# Ignore development files
*.ts
*.tsx

# Ignore editor and IDE files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
logs
*.log
*.swp